<figure>
    <img src="<%= data.webImage.url %>" alt="image art">
    <figcaption>
        <%= data.title %>
    </figcaption>
</figure>
<p>
    <%= data.longTitle %>
</p>
<p>
    <%= data.description %>
</p>
<a id="bnt" href="/">Terug</a>