<header>
    <h2>
        <%= titlePage %>
    </h2>
    <form method="get" action="/search">
        <input placeholder="Zoek kunstwerken" type="search" name="searchInput">
        <button id="btn-search" aria-label="zoeken">zoeken</button>
    </form>
</header>