<% data.map((artItem)=> {

    %>
    <li>
        <a href="/details/<%- artItem.artid %>">
            <figure>
                <img src="<%= artItem.webImage.url %>" alt="image art">
                <figcaption>
                    <%= artItem.title %>
                </figcaption>
            </figure>
        </a>
    </li>

    <% }) %>