<%- include('partials/head'); -%>

    <h2>
        <%= title %>
    </h2>


    <article id="detailsOfArt">
        <%- include('partials/detailInfo'); -%>
    </article>

    <%- include('partials/footer'); -%>